.emailbutton {
    color: rgb(66, 176, 255);
    width: 160px;
    height: 60px;
    border: none;
    background-color: bisque;
    cursor: pointer;
    transition: background-color 1s;
    transition: color 1s;
    border-radius: 12px;
    margin-left: 30px;
    font-size: 22px;
    
}
.emailbutton:hover{
    background-color: rgb(251, 183, 99);
    color: rgb(42, 152, 231);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

header {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        text-align: center;
    }
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 22px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}
    

.text {
    font-size: 22px;
    margin-left: 20px;
}

.headertext:hover {
    text-decoration: underline;
}


body {
    margin: 0;
    padding-bottom: 60px; /* Set padding bottom to accommodate footer height */
    min-height: 100vh; /* Set minimum height to fill the viewport */
    position: relative;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
